# Database
DB_URL=jdbc:postgresql://localhost:5432/jewelcart_db
DB_USERNAME=jewelcart_user
DB_PASSWORD=jewelcart_pass

# JWT
JWT_SECRET_KEY=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

# Razorpay
RAZORPAY_KEY_ID=rzp_test_xxx
RAZORPAY_KEY_SECRET=xxx
RAZORPAY_WEBHOOK_SECRET=xxx
